$(".padding_body").html(`<div class="points_create_contents">
                        <div class="result">
                          <h2>投稿しました</h2>
                          <%= link_to "戻る", "/birds/#{@bird.id}/messages" %>
                        </div>
                      </div>`)
