<div class="contents">
  <div class="description" >
  この <span style="font-family: Yahoo">Yacho!</span>（やちょー！）は野鳥の情報共有アプリです。<br />
  目撃地点がマップで閲覧・登録出来たり、文字と画像でチャットが出来ます。<br />
  野鳥好きの方々に、少しでも楽しんで頂けたら幸いです。
  </div>
  <div class="search_display" >
    <%= image_tag 'green_bird1.png', :height =>'120'%>
    <span>野鳥名を検索する</span>
    <input type=form id="search_bird_name" placeholder="野鳥名を入力してください" />
    <%= image_tag 'green_bird2.png', :height =>'150', class: 'right_image' %>  
  </div>
  <div class="search_result_display">
    <p>検索結果 <span> ※()内の数字は目撃地点の数</span></p>
    <ul id="search_birds_result"></ul>
  </div>
  <div class="bird" >
    ＜ 野鳥一覧（五十音順）<%= @birds.count %>種類＞  <span>※()内の数字は目撃地点の数</span>
  </div>
  <ul class="birds_list">
    <%= render partial: "bird", collection: @birds %>
  </ul> 
</div>