.description {
  width: 700px;
  margin: 10px auto;
  line-height: 1.5;
  letter-spacing: 0.11em;
}
.search_display {
  width: 730px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  #search_bird_name {
    @include boxBase(0, 5px);
    width: 300px;
    position: absolute;
    top: 46%;
    left: 290px;
  }
  span {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 50%;
  }
  .right_image {
    position: absolute;
    left: 580px;
  }
}
.search_result_display {
  width: 500px;
  background-color: rgba(215, 250, 205, 0.7);
  margin: 0 auto 20px;
  padding: 8px;
  border-radius: 10px;
  p {
    @include heading_font;
    text-align: center;
    span {
      font-size: 18px;
      font-weight: 500;
    }
  }
  #search_birds_result {
    text-align: center;
  }
}
.bird {
  @include heading_font;
  span {
    font-size: 20px;
    font-weight: 500;
  }
}
.birds_list {
  word-break: keep-all;
  .bird_name {
    margin-right: 12px;
    display: inline;
  }
}