
.devise_contents {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 20px;
  color: $black;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
  padding: 0 5vw;
  h2 {
    @include baseMargin(0 0 20px);
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    color: $dark;
  }
  input,textarea {
    width: 100%;
    @include boxBase(5px 0 15px,10px);
    border: 1px solid $gray;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "游ゴシック", "YuGothic";
  }
  input[type="submit"] {
    background-color: $accent;
    border-radius: 20px;
    color: $white;
    border: 0;
    font-size: 18px;
    &:hover {
      background-color: lighten($accent, 10%);
    }
  }
}


