$accent: #57C3E9;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;
$red: rgb(250, 0, 0);
$lightGreen: rgb(120, 200, 120);
$blightYerrow: rgb(234, 234, 115);

@font-face {
  font-family: 'Yahoo';
  src: url('Yahoo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

@mixin button($color, $margin) {
  background-color: $color;
  margin: $margin;
  font-size: 18px;
  padding: 3px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;  
}

@mixin heading_font {
  font-size: 22px;
  font-weight: 600;
}

$header-height: 80px;
$left-contents-width: 240px;
$contents-padding: 8px;
